.hero-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    color: #d1d0d0; 
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    color: #d1d0d0;
    opacity: 0.7; 
}

/*!! adaptive */

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.2rem;
    }
    
    .hero-section p {
        font-size: 1rem;
    }
}